@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --bg-body: #17162E;
    --bg-card: #1D1C3B;
    --bg-inputSearch: #454558;
    --color-titulo: #FFFFFF;
    --color-card: #ACACAC;
    --font-principal: 'Kumbh Sans', sans-serif;
}

html, body{
    font-family: var(--font-principal);
    background-color: var(--bg-body);
}

.cabecalho{
    padding: 3.5rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho__titulo{
    color: var(--color-titulo);
    font-size: 1.5rem;
    font-family: var(--font-principal);
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
}

.container__pesquisa{
    margin-top: 1rem;
    display: inline-flex;
    position: relative;
}

#search {
    width: 325px;
    height: 40px;
    padding: 0 1rem;
    border-radius: 8px;
    background: var(--bg-inputSearch);
    color: var(--color-titulo);
    border: none;
    font-family: var(--font-principal);
}

#search::placeholder{
    color: var(--color-titulo);
}

#search:focus{
    color: var(--color-titulo);
    outline: none;
}

.search-icon {
    position: absolute;
    color: var(--color-titulo);
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.search-icon img{
    width: 17px;
    height: 17px;
}

.container__filtrar{
    margin-top: 1rem;
    position: relative;
}

.container__filtrar-text{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.filter-text{
    color: var(--color-titulo);
    font-family: var(--font-principal);
    font-weight: 600;
}

.menu-suspenso{
    position: absolute;
    top: 150%;
    background-color: var(--color-titulo);
    left: 0;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.menu-suspenso__item{
    padding: 15px 30px;
    color: var(--bg-body);
    font-family: var(--font-principal);
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    position: relative;
    white-space: nowrap;

    transition: all 0.3s ease-in-out;
}

/* Estilização icones de avaliação */
.menu-item-favoritos::before{
    content: '';
    position: absolute;
    top: 52%;
    left: 2px;
    transform: translateY(-35%);
    background: url(../img/heart-vector.png) no-repeat;
    padding: 0px;
    transition: all 0.3s ease-in-out;
}

.menu-item-favoritos:hover::before{
    padding: 15px 20px;
}

/* Estilização icones de favoritos */
.menu-item-avaliacao::before{
    content: '';
    position: absolute;
    top: 48%;
    left: 2px;
    transform: translateY(-35%);
    background: url(../img/star-vector.png) no-repeat;
    padding: 0px;
    transition: all 0.3s ease-in-out;
}

.menu-item-avaliacao:hover::before{
    padding: 15px;
}

/* Estilização icones de favoritos */
.menu-item-popcorn::before{
    content: '';
    position: absolute;
    top: 48%;
    left: 2px;
    transform: translateY(-35%);
    background: url(../img/emojione_popcorn.png) no-repeat;
    padding: 0px;
    transition: all 0.3s ease-in-out;
}

.menu-item-popcorn:hover::before{
    padding: 15px;
}